Source: btest
Section: devel
Priority: optional
Maintainer: Hilko Bengen <bengen@debian.org>
Build-Depends: debhelper-compat (= 13),
               python3-setuptools,
               dh-python,
               python3
Standards-Version: 4.6.0
Homepage: http://www.zeek.org/
Vcs-Git: https://salsa.debian.org/bro-team/btest.git
Vcs-Browser: https://salsa.debian.org/bro-team/btest

Package: btest
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}, python3
Description: simple driver for basic unit tests
 "btest" is a simple framework for writing unit tests. Freely
 borrowing some ideas from other packages, it's main objective is to
 provide an easy-to-use, straightforward driver for a suite of
 shell-based tests. Each test consists of a set of command lines that
 will be executed, and success is determined based on their exit
 codes. "btest" comes with some additional tools that can be used
 within such tests to compare output against a previously established
 baseline.
